html {
    background-image: url("../img/back.png");
    background-position: center;
    background-size: cover;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

input {
    outline: none;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: rgba(228, 134, 96, 0.472);
    backdrop-filter: blur(5px);
    letter-spacing: 2px;
    border-radius: 0px 0px 10px 10px;
}

header section {
    display: flex;
    width: 30%;
    justify-content: flex-start;
}

header a {
    width: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
}

header a span:hover {
    text-shadow: 1px 1px 2px rgba(228, 134, 96), 0 0 1em black, 0 0 0.2em rgba(228, 134, 96);
}

/* FOOTER */

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    background-color: rgba(112, 47, 22, 0.472);
    backdrop-filter: blur(5px);
    color: rgb(241, 158, 49);
    letter-spacing: 2px;
    font-size: 15pt;
}

/* Page accueil */

.accueil section {
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.accueil h1 {
    font-size: 40pt;
    text-shadow: 1px 1px 2px rgba(228, 134, 96), 0 0 1em black, 0 0 0.2em rgba(112, 47, 22);
}

/* Barre de recherche principale */

.accueil form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
    width: 80%;
}

.accueil form input[type="text"] {
    width: 60%;
    height: 60%;
    border-radius: 70px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 14pt;
    box-shadow: 10px 10px 10px black;
}

.accueil #send {
    width: fit-content;
    height: 60%;
    border-radius: 70px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 14pt;
}

/* Barre de recherche header */

header #send {
    width: fit-content;
    border-radius: 70px;
    text-align: center;
    background-color: black;
    color: white;
    font-size:12pt;
}

header form input[type="text"] {
    border-radius: 70px;
    text-align: center;
    background-color: black;
    color: white;
    font-size:12pt;
}

/* div résultat */

#resultmain {
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 134, 96);
    position: absolute;
    max-height: 20%;
    width: 22%;
    top: 62.05%;
    left: 35%;
    overflow-y: scroll;
    font-size: 15pt;
}

#result {
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 134, 96);
    position: absolute;
    max-height: 100%;
    top: 61%;
    width: 9%;
    overflow-y: scroll;
    font-weight: none;
    font-size: 12pt;
}

.listemain:hover, .liste:hover {
    background-color: rgba(112, 47, 22, 0.472);
}

/* Page Recherche */

.resultat_recherche section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    font-size:15pt;
}

.resultat_recherche div {
    display: flex;
    justify-content: center;
    width: 30%;
    text-align: center;
    background: rgba(112, 47, 22);
    border-radius: 20px;
}

.resultat_recherche div:hover {
    background: rgba(112, 47, 22,0.603);
    backdrop-filter: blur(5px);
}

.resultat_recherche div:hover a{
    color:black;
}


.resultat_recherche div a {
    letter-spacing: 2px;
    font-weight: bold;
    color: rgb(241, 158, 49);
}

.resultat_recherche div p {
    letter-spacing: 2px;
    font-weight: bold;
    color: rgb(241, 158, 49);
}

/* Page Element */

.element section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 0.5;
    width: 50%;
    align-items: center;
    border: 4px dotted black;
    background-color: rgba(112, 47, 22,0.603);
    color: rgb(241, 158, 49);
    font-size: 15pt;
}

.element span {
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
}

.element img {
    width: 50%;
    height: auto;
    border:2px solid rgb(241, 158, 49);

}

/* scrollbar */

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(112, 47, 22);
    border-radius: 10px;
}